annotated-doc 
annotated-types 
anyio 
attrs 
Authlib 
beautifulsoup4 
certifi 
cffi 
cfgv 
charset-normalizer 
click 
cloudpickle 
colorama 
cryptography 
curl_cffi 
defusedxml 
distlib 
distro 
dparse 
einops 
filelock 
filetype 
frozendict 
fsspec 
h11 
hf-xet 
httpcore 
httpcore2 
httpx 
httpx2 
identify 
idna 
Jinja2 
jiter 
joblib 
joserfc 
lxml 
markdown-it-py 
MarkupSafe 
marshmallow 
mdurl 
mpmath 
multitasking 
networkx 
nltk 
nodeenv 
numpy 
openai 
opencv-python-headless 
optionaldict 
outcome 
packaging 
pandas 
peewee 
pillow 
pip-review 
platformdirs 
pre_commit 
protobuf 
pycparser 
pydantic 
pydantic-settings 
pydantic_core 
Pygments 
pypandoc 
pypdfium2 
PySocks 
python-dateutil 
python-discovery 
python-docx 
python-dotenv 
pytz 
PyYAML 
regex 
requests 
rich 
ruamel.yaml 
safetensors 
selenium 
setuptools 
shellingham 
simplejson 
six 
sniffio 
sortedcontainers 
soupsieve 
sympy 
tenacity 
tomlkit 
tqdm 
trio 
trio-websocket 
truststore 
typing-inspection 
typing_extensions 
tzdata 
urllib3 
virtualenv 
websocket-client 
websockets 
wsproto 
yfinance 
